name: Create and publish a Docker image

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/build.yml
      - Dockerfile
      - char-limit.patch

# Set the Mastodon version to build. This is the only place it should be changed
# anywhere in this repo
env:
  MASTODON_VERSION: 4.5.2

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    # Sets the permissions for the GITHUB_TOKEN
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log into the container registry
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Setup buildx
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3

      # Build and push the image
      - name: Build and push base Mastodon image
        id: mastodon
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          target: mastodon
          build-args: |
            MASTODON_VERSION=${{ env.MASTODON_VERSION }}
          push: true
          tags: ghcr.io/${{ github.repository }}:v${{ env.MASTODON_VERSION }}
          cache-from: |
            type=gha,scope=mastodon
          cache-to: |
            type=gha,scope=mastodon,mode=max

      # Build and push the image
      - name: Build and push Sidekiq image
        id: sidekiq
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          target: sidekiq
          build-args: |
            MASTODON_VERSION=${{ env.MASTODON_VERSION }}
          push: true
          tags: ghcr.io/${{ github.repository }}-sidekiq:v${{ env.MASTODON_VERSION }}
          cache-from: |
            type=gha,scope=mastodon

      - name: Tag the commit
        run: |
          git tag v${{ env.MASTODON_VERSION }}
          git push origin tag v${{ env.MASTODON_VERSION }}

      # Generate artifacte attestation for evidence of how it was built
      - name: Generate Mastodon artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.mastodon.outputs.digest }}
          push-to-registry: true
      - name: Generate Sidekiq artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ghcr.io/${{ github.repository }}-sidekiq
          subject-digest: ${{ steps.sidekiq.outputs.digest }}
          push-to-registry: true
